* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 100%;
}

header {
  align-items: center;
  background-color: #2e2234;
  display: flex;
  flex-wrap: wrap;
  height: 4%;
  justify-content: space-between;
  padding: 10px;
}

h1,
h2 {
  color: #e3e2e3;
}

h1 {
  margin-left: 20px;
}

h2 {
  margin-right: 20px;
}

.party {
  color: #3fd1d0;
}

.sub-header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-evenly;
}

.accordion-tabs-label {
  color: #363636;
}

hr {
  border: .5px solid #dddddd;
  height: 0;
  width: 74%;
}

.accordion {
  display: flex;
  flex-direction: column;
  height: 40%;
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
}

.tab-bar {
  display: flex;
  height: 12%;
  width: 100%;
}

.tab {
  align-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e0e1e1;
  border-left: 1px solid white;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 25%;
}

.tab:hover {
  cursor: pointer;
}

.clicked {
  background-color: yellow;
}

.accordion-content {
  align-items: center;
  border: 1px solid #d1d2d3;
  border-top: none;
  display: flex;
  height: 88%;
  justify-content: space-around;
  width: 100%;
}

.hidden {
  display: none;
}

.accordion-image {
  background-color: #f1f1f1;
  height: 90%;
  width: 35%;
}

.image-one {
  background-color: purple;
}

.image-two {
  background-color: orange;
}

.image-three {
  background-color: blue;
}

.image-four {
  background-color: red;
}

.accordion-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.accordion-header {
  border-bottom: 1px solid #e0e1e1;
  font-size: 16px;
  font-weight: bold;
  height: 10%;
}

.accordion-filler {
  font-size: 14px;
  padding-top: 20px;
}

.view-code-button {
  align-items: center;
  align-self: center;
  background-color: #3e3144;
  color: white;
  display: flex;
  font-weight: lighter;
  font-size: 16px;
  height: 5%;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  width: 20%;
}

.clicked {
  background-color: white;
  border: 1px solid #d1d2d3;
  border-bottom: none;
}

@media (max-width: 800px) {
  .accordion-filler {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  header {
    align-items: center;
    flex-direction: column;
    height: 10%;
    justify-content: center;
  }

  h1,
  h2 {
    margin: 0px;
  }

  .sub-header {
    flex-direction: column;
  }

  hr {
    width: 20%;
  }

  .accordion {
    height: auto;
  }

  .accordion-content {
    flex-direction: column;
  }

  .tab-bar {
    display: none;
  }

  .tab {
    width: 100%;
  }

  .accordion {
    height: none;
  }

  .accordion-image {
    height: 200px;
    width: 100%;
  }

  .accordion-content {
    justify-content: space-between;
  }

  .accordion-header {
    font-size: 20px;
    margin: 20px;
  }

  .accordion-text {
    padding: 20px;
    width: 90%;
  }

  .accordion-filler {
    margin-bottom: 10px;
  }

  .mobile {
    display: flex;
    font-size: 20px;
    height: 50px;
    justify-content: space-between;
  }

  .mobile-label {
    margin-left: 10px;
  }

  .expand-collapse {
    font-weight: lighter;
    margin-right: 10px;
  }

  .view-code-button {
    align-items: center;
    display: flex;
    height: 5%;
    justify-content: center;
    width: 90%;
  }
}
